@tailwind base;
@tailwind components;
@tailwind utilities;

.play {
  font-family: "Play", sans-serif;
}
.start {
  font-family: "Press Start 2P", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}
